* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    :root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
    }
    body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
    }
    
    header {
    margin-left: 2px;
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
    }
    
    .icn {
    height: 30px;
    }
    .menuicn {
    cursor: pointer;
    }
    
    .searchbar,
    .message,
    .logosec {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .searchbar2 {
    display: none;
    }
    
    .logosec {
    gap: 60px;
    }
    
    .searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
    }
    .searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--secondary-color);
    cursor: pointer;
    }
    
    .message {
    gap: 40px;
    position: relative;
    cursor: pointer;
    }
    .circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
    }
    .dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    }
    .nav {
        min-height: 91vh;
        width: 230px;
        background-color: var(--background-color2);
        position: absolute;
        top: 0px;
        left: 00;
        box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        padding: 30px 0 20px 10px;
        }
        .navcontainer {
            height: calc(100vh - 70px);
            width: 230px;
            position: fixed;
            top: 70px;
            left: -250px; /* Move the navigation off-screen initially */
            transition: left 0.4s ease-in-out; /* Slide transition */
            background-color: #fff; /* Example background color */
            display: block;
            z-index: 1; /* Set a lower z-index */
        }
        
        .show-nav {
            left: 0; /* Slide the navigation in */
            pointer-events: none; /* Disable clicks on hidden element */
            z-index: 2; 
        }
        .main-content {
            transition: margin-left 0.4s ease-in-out; /* Slide transition for the main content */
        }
        .push-main {
            margin-left: 250px; /* Adjust this value according to your navigation width */
        }
        .navcontainer::-webkit-scrollbar {
        display: none;
        }
        .navclose {
        width: 80px;
        }
        .nav-option {
        width: 250px;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 30px 0 20px;
        gap: 20px;
        transition: all 0.1s ease-in-out;
        }
        .nav-option:hover {
        border-left: 5px solid #a2a2a2;
        background-color: #dadada;
        cursor: pointer;
        }
        .nav-img {
        height: 30px;
        }
        
        .nav-upper-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        }
        
        