*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
  }
  
  body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(51, 37, 57, 0.7)),url(images/bg.jpeg);
    background-position: center;
    background-size: cover;
    padding: 20px;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  nav {
    display: flex;
    padding-top: 100px;
    margin-right: 50px; 
  }
  
  
  .rightlogo{
    margin-top: -90px;
    margin-right: 40px;
  }
  
  .leftlogo{
    margin-right: auto;
    margin-left: 5px;
    margin-top: -40px;
  }
  
  div.leftlogo img{
    width: 150px;
    height: auto;
  }
  
  div.rightlogo img {
    border-radius: 10%;
    width: 150px;
    height: auto;
    background-color: yellow;
  }
  
  .title p{
    margin-right: 20px;
    color:lightgrey;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: lighter;
  }
  
  .title{
    margin-top: -58px;
  }
  
  .container {
    max-width: 500px;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(242,242,242,1) 20%, rgba(242,242,242,1) 100%);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  section.container{
    margin-left: 950px;
    margin-top: 5px;
  
  }
  
  .container header {
    font-size: 40px;
    color: #333;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 40%;
  }
  
  header{
    margin-right: 330px;
    margin-top: 5px;
    
  }
  
  .container p{
     size: 40px;
     letter-spacing: 1px;
     font-family: 'PT Sans Narrow';
     
  }
  
  .container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  p.message-text{
    color: red; 
    font-size: 40px; 
    margin-bottom: -400px;
  }
  
  
  .form  button {
    height: 55px;
    width: 180px;
    letter-spacing: 2px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 300px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(76, 165, 255);
  }
  
  .form button:hover {
    background: rgb(11, 137, 255);
  }
  /*Responsive*/
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }
  
  
  .sign-in {
    max-width:900px;
    width: 100%;
    padding: 20px;
  }
  .sign-in label{
    color: #ddd;
    letter-spacing: 4px;
    font-size: xx-large;
    line-height: 60px;
    text-align: center;
    margin-left: 20px;
  }
  
  section.sign-in{
    margin-top: -400px;
    margin-left: 100px;
    width: 100%
  }
  
  .sign-in p{
    color: rgb(173, 173, 173);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
  }
  
  section.sign-in p{
    margin-left: -230px;
  }
  .sign-in button {
    height: 55px;
    width: 180px;
    letter-spacing: 2px;
    border-radius: 8px;
    color: #d8d8d8;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 240px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(137, 137, 138);
    font-size: 20px;
  }
  .sign-in button{
    -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
    transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
  }
  .sign-in button:hover {
    background: rgb(85, 85, 85);
  }
  
  a[id="one"]:target ~ #one {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  a[id="two"]:target ~ #two {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  a[id="three"]:target ~ #three {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  
 
